In [ ]:
#cho google colab

In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import urllib

In [93]:
new_file=open("car_data.txt",mode="w",encoding="utf-8")
columns = "mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name\n"
new_file.write(columns)

85

Viáº¿t file

In [94]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"
file = urllib. request. urlopen(url)
for line in file:
    decoded_line = line.decode("utf-8")
    decoded_line = decoded_line.split('\t')
    decoded_line[0] = ','.join(decoded_line[0].split())
    decoded_line[1] = decoded_line[1].strip('\n')
    decoded_line = ','.join(decoded_line)
    #print(decoded_line)
    new_file.write(decoded_line + '\n')
new_file.close()

In [95]:
car_data = pd.read_csv('car_data.txt')
car_data.shape

(398, 9)

In [127]:
car_data = car_data.replace('?',np.NaN)
car_data.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [147]:
car_data.dtypes

mpg              float64
cylinders       category
displacement     float64
horsepower        object
weight           float64
acceleration     float64
model year      category
origin          category
car name          object
dtype: object

In [146]:
car_data[['cylinders','model year','origin']] = car_data[['cylinders','model year','origin']].astype('category')

In [148]:
car_data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [149]:
car_data[car_data["mpg"] == max(car_data["mpg"])]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
322,46.6,4,86.0,65.00,2110.0,17.9,80,3,mazda glc

In [150]:
car_data["origin"].unique()

[1, 3, 2]
Categories (3, int64): [1, 3, 2]

In [151]:
car_data.describe().round(2)

          mpg  displacement   weight  acceleration
count  398.00        398.00   398.00        398.00
mean    23.51        193.43  2970.42         15.57
std      7.82        104.27   846.84          2.76
min      9.00         68.00  1613.00          8.00
25%     17.50        104.25  2223.75         13.82
50%     23.00        148.50  2803.50         15.50
75%     29.00        262.00  3608.00         17.17
max     46.60        455.00  5140.00         24.80